<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/apps/"
          name="queueserverjobs"
          require="package/quiqqer/queueserver/bin/controls/JobList"
          icon="fa fa-tasks"
    >
        <locale group="quiqqer/queueserver" var="menu.apps.joblist.title"/>
    </item>
</menu>
